<!-- base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} โรงเรียนศรีแก้วประชาสรรค์ {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/style_index.css' %}">
</head>
<body class="body-main">
    <header class="site-header">
        <div class="container">
        </div>
    </header>
    
    <div class="container main-content">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>
