<!-- index.html -->

{% extends 'app/base.html' %}

{% load static %}

{% block content %}
<div class="inner-square">
    <h2>Welcome to the Examination Management System</h2>
    <img src="{% static 'images/sc.png' %}" alt="Welcome Image" class="login-image">
    <div class="login-all a ">
        <a href="{% url 'login_user' %}" class="login-button">เข้าสู่ระบบ</a>
        <a href="{% url 'register_student' %}" class="register-button">Student Register</a>
        <a href="{% url 'register_teacher' %}" class="register-button">Teacher Register</a>
    </div>
</div>
{% endblock %}
