{% extends 'app/base.html' %}

{% block content %}

{% load static %}

<nav>
  <a href="{% url 'index_view' %}" >หน้าหลัก</a>

</nav>

<h2 style="text-align: center;">เข้าสู่ระบบ</h2>
<!-- <img class="login-image" src="{% static 'image/sc.png' %}" alt="Login Image"> -->

<form method="post" action="{% url 'login_user' %}">
  {% csrf_token %}

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <label for="username">ชื่อผู้ใช้:</label>
  <input type="text" name="username" id="username" required>

  <label for="password">รหัสผ่าน:</label>
  <input type="password" name="password" id="password" required>

  <button type="submit" class="button-submit">เข้าสู่ระบบ</button>
</form>

{% endblock %}
