<!-- register_teacher.html -->

{% extends 'app/base.html' %}
{% block content %}
 <nav>
    <a href="{% url 'index_view' %}">หน้าหลัก</a>
    <a href="{% url 'login_user' %}">เข้าสู่ระบบนักเรียน</a>
    <a href="{% url 'register_student' %}">สมัครสมาชิกนักเรียน</a>
    <a href="{% url 'login_user' %}">เข้าสู่ระบบครู</a>
    <a href="{% url 'register_teacher' %}">สมัครสมาชิกคุณครู</a>
  </nav>
  
  <h2>Register as a Teacher</h2>
  <form method="post" action="{% url 'register_teacher' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">สมัครสมาชิก</button>
  </form>

{% endblock %}
