<!-- base_teacher.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Teacher Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'app/style_teacher.css' %}">
</head>
<body class="body-main">
    <header class="site-header">
        <div class="container">
          <h1>Teacher Dashboard</h1>
        </div>
    </header>
      
  <nav class="sidebar-navigation">
      <a href="#">Home</a>
      <a href="#">ฟีดข่าว</a>
      <a href="#">ตารางคุบสอบ</a>
      <a href="{% url 'add_exam_subject' %}">เพิ่มวิชาที่สอบ</a>
      <a href="{% url 'exam_subject_list' %}">รายชื่อวิชาที่ทำการสอบ</a>
  </nav>
  
    {% block content %}{% endblock %}
  
    <footer class="site-footer">
        <div class="container">
          <p>{{ user.username }} | <a href="{% url 'logout_user' %}">Logout</a></p>
        </div>
    </footer>
</body>
</html>
