<!-- app/teacher/edit_subject.html -->

{% extends 'app/teacher/base_teacher.html' %}

{% block content %}
<div class="container">
    <h1>Edit Exam Subject</h1>
    <form method="post">
        {% csrf_token %}
        <p>{{ form.subject_name.label_tag }} {{ form.subject_name }}</p>
        <p>{{ form.subject_code.label_tag }} {{ form.subject_code }}</p>
        <p>{{ form.academic_year.label_tag }} {{ form.academic_year }}</p>
        <p>{{ form.student_class.label_tag }} {{ form.student_class }}</p>
        <p>{{ form.exam_room.label_tag }} {{ form.exam_room }}</p>
        <p>{{ form.start_time.label_tag }} {{ form.start_time }}</p>
        <p>{{ form.end_time.label_tag }} {{ form.end_time }}</p>
        <p>{{ form.invigilator.label_tag }} {{ form.invigilator }}</p>
        <p>{{ form.subject_teacher.label_tag }} {{ form.subject_teacher }}</p>
        <button type="submit" class="btn btn-primary">ยืนยัน</button>
        <a href= "{% url 'exam_subject_list' %}" class="btn btn-secondary">ยกเลิก</a>
    </form>
</div>
{% endblock %}
