<!-- base_student.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Teacher Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'app/style_teacher.css' %}">
</head>
<body class="body-main">
    <header class="site-header">
        <div class="container">
          <h1>Teacher Dashboard</h1>
        </div>
    </header>
      
  <nav class="sidebar-navigation">
      <a href="{% url 'dashboard_student' %}">Home</a>
      <a href="{% url 'Examination_history' %}">ประวัติการสอบ</a>
      {% if student_id %}
      <a href="{% url 'generate_qr_for_student' student_id=student_id %}">QRCode</a>
      {% endif %}
      <a href="{% url 'edit_student' %}">แก้ไขข้อมูลส่วนตัว</a>
  </nav>
  
    {% block content %}{% endblock %}
  
    <footer class="site-footer">
        <div class="container">
          <p>{{ user.username }} | <a href="{% url 'logout_user' %}">Logout</a></p>
        </div>
    </footer>
</body>
</html>
